LISTEN_ADDR={{ listen_addr }}
RELAY_ADDRESS={{ relay_address }}
RELAY_SCHEME={{ relay_scheme }}
DNS_PROXY_MODE={{ dns_proxy_mode }}
HOSTED_DOMAINS={{ hosted_domains | default('poweur.net') }}
{% if relay_s3_bucket is defined %}
# Storage in an S3 bucket instead of POWEUR_DATA (deploy/README.md, "Storage v2 layout").
STORAGE_PROVIDER=s3
S3_ENDPOINT={{ relay_s3_endpoint }}
S3_BUCKET={{ relay_s3_bucket }}
S3_REGION={{ relay_s3_region }}
S3_PREFIX={{ relay_s3_prefix | default('') }}
S3_ACCESS_KEY={{ relay_s3_access_key }}
S3_SECRET_KEY={{ relay_s3_secret_key }}
S3_PRESIGN={{ relay_s3_presign | default('0') }}
{% endif %}
