# Written by deploy/ansible (playbook: Backups). Read by /usr/local/sbin/poweur-backup.
RESTIC_REPOSITORY=sftp:storagebox:{{ storage_box_path | default('poweur-restic') }}
KEEP_WITHIN={{ backup_keep_within | default('30d') }}
BACKUP_HEARTBEAT_URL={{ backup_heartbeat_url | default('') }}
